.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto
}

header {
    border-bottom: 4px solid #AE2134
}

header .info__header {
    background: #AE2134;
    padding: 5px 0
}

header .info__header ul li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    font-size: 13px
}

header .info__header ul li:after {
    content: '|';
    position: absolute;
    left: -5px;
    top: 1px;
    color: #999;
    font-size: 12px
}

.mainLogo {
    display: block;
    margin: 20px 0;
    width: 270px
}

.YMaps-form-button__input::-moz-focus-inner {
    padding: 0;
    border: 0 none
}

h2 {
    line-height: 1
}

#order_form h2 {
    margin: 0;
    padding: 0;
    line-height: 32px
}

#order_form label {
    width: 493px;
    display: inline-block;
    padding: 5px 0;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    line-height: 14px;
    margin: 0 auto
}


#order_form label.vertical {
    border: medium none !important
}

#order_form .order_form_pole {
    padding: 10px;
    margin: 10px
}

#order_form input {
    font-size: 17px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #909090;
    max-width: 498px;
    width: 100%;
    margin-bottom: 16px;
    height: 49px
}

#order_form span {
    font-size: 12px
}

#order_form button {
    box-shadow: 0 1px 0 0 #f5978e inset;
    background: #f24537;
    border-radius: 3px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 24px;
    font-weight: 500;
    padding: 16px 21px;
    text-decoration: none;
    text-shadow: 0 1px 0 #810e05;
    margin-top: 25px;
    transition: .2s;
    line-height: 30px;
    font-family: roboto condensed;
    font-size: 26px;
    font-weight: 600
}

#order_form button:hover {
    background: #c62d1f
}

#order_form button:active {
    position: relative;
    top: 1px
}

#order_form_success {
    position: relative
}

html,
body,
div,
span,
h1,
h3,
p,
img,
strong,
b,
figcaption,
figure,
footer,
nav {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0 none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent none repeat scroll 0 0
}

body {
    line-height: 1
}

.c15 {
    margin-bottom: 25px
}

.c15,
.c15 td,
.c15 tr {
    border: 1px solid #d6d6d6
}

.c15 .c3 p {
    padding: 5px 10px;
    margin-bottom: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

figcaption,
figure,
footer,
nav {
    display: block
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent none repeat scroll 0 0
}

* {
    box-sizing: border-box
}

body {
    position: relative
}

img {
    max-width: 100%
}

a {
    color: #b88b58;
    text-decoration: none
}

.Body {
    font-size: 18px;
    line-height: 22px
}

@media only screen and (min-width: 48em) {
    .Body {
        font-size: 20px;
        line-height: 27px
    }
}

.Body > * {
    max-width: 980px;
    font-family: "PFRegal", "Georgia", serif
}

.Body:last-child > :last-child {
    margin-bottom: 0
}

.Body a {
    color: inherit;
    box-shadow: 0 -1px #b88b58 inset
}

.Body a:hover {
    color: #b88b58
}

.Body p {
    margin-bottom: 15px
}

.Body p:empty {
    display: none
}

.Body h3 {
    margin: 18px auto;
    margin-bottom: 12px;
    font-family: "PFRegal", "Georgia", serif;
    font-size: 21px;
    font-weight: 700
}

.SvgIcon {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.SvgIcon--meduzaLogo {
    margin-top: -2px;
    height: 80px;
    width: 300px
}

.Menu {
    display: none;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff
}

.obutton {
    display: inline-block;
    padding: 20px;
    color: #fff !important;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px
}

@media only screen and (max-width: 600px) {
    .Figure1 span:nth-of-type(1) {
        position: absolute;
        top: 13%;
        left: 24%;
        font-size: 9px;
        font-weight: 600;
        width: 22%;
        line-height: 1
    }

    .Figure1 span:nth-of-type(2) {
        position: absolute;
        top: 11%;
        right: 28%;
        font-size: 9px;
        font-weight: 600;
        width: 20%;
        line-height: .9
    }

    .Figure1 span:nth-of-type(3) {
        position: absolute;
        bottom: 39%;
        left: 26%;
        font-size: 9px;
        font-weight: 600;
        width: 15%;
        line-height: .9
    }
}

@media only screen and (min-width: 64em) {
    .Menu {
        font-size: 13px;
        height: 80px;
        width: 100%;
        letter-spacing: 1px;
        background-color: #262626;
        display: flex;
        justify-content: center
    }
}

.Menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
    transition: color .15s ease-out 0
}

@media only screen and (min-width: 64em) {
    .Menu-item {
        padding: 0 15px;
        border-bottom: 0 none
    }
}

@media only screen and (min-width: 64em) {
    .Menu-item:last-of-type {
        border-right: medium none
    }
}

@media only screen and (min-width: 64em) {
    .Menu-item:hover {
        color: #999;
        background-color: inherit
    }
}

.Header {
    position: relative;
    height: 80px;
    background-color: #262626;
    display: flex;
    flex-flow: row nowrap;
    z-index: 2
}

@media only screen and (min-width: 64em) {
    .Header {
        padding: 0 15px
    }
}

@media only screen and (max-width: 63.9375em) {
    .Header .HeaderButton--chat {
        display: none
    }
}

.Header-left {
    display: flex;
    flex-basis: 16%;
    flex-grow: 1;
    height: 100%
}

.Header-center {
    height: 100%;
    display: none
}

@media only screen and (min-width: 64em) {
    .Header-center {
        display: flex;
        justify-content: center;
        flex-grow: 2
    }
}

.Header-right {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    flex-basis: 16%;
    flex-grow: 1
}

.Header-meduzaLogo {
    display: flex;
    height: 45px;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0
}

@media only screen and (min-width: 64em) {
    .Header-meduzaLogo {
        position: static
    }
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container img {
    width: 100px;
    height: auto;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container p {
    margin-bottom: 20px;
    color: #555;
}

.form-container .price {
    text-decoration: line-through;
    color: #888;
}

.form-container .discount-price {
    font-size: 24px;
    color: red;
}

.form-container input[type="text"],
.form-container input[type="tel"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #dcdcdc95;
}

.form-container input[type="submit"] {
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: darkred;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeaderButton {
    position: relative;
    display: flex;
    min-width: 45px;
    height: 100%;
    padding: 0 15px;
    -moz-user-select: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    fill: currentcolor;
    border: 0 none;
    background: transparent none repeat scroll 0 0;
    margin: 0;
    cursor: pointer
}

.HeaderButton:active {
    outline-width: 0
}

.HeaderButton:hover {
    color: #999
}

.HeaderButton::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 1px solid #676767
}

@media only screen and (min-width: 64em) {
    .HeaderButton::after {
        top: 10px;
        bottom: 10px
    }
}

.HeaderButton-link {
    display: block;
    padding-top: 2px;
    text-transform: uppercase;
    color: inherit;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 600;
    cursor: pointer
}

.HeaderButton-link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ""
}

.HeaderButton--chat {
    font-size: 13px;
    letter-spacing: .05em
}

.Copyright {
    padding: 0 12px;
    line-height: 1.2
}

@media only screen and (min-width: 64em) {
    .Copyright {
        padding: 0
    }
}

.Copyright-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 13px 0 12px
}

.Copyright-container a:hover {
    color: rgba(255, 255, 255, 0.5)
}

@media only screen and (min-width: 48em) {
    .Copyright-container {
        max-width: 675px;
        padding: 10px 0 18px;
        border-top: 1px solid #505050;
        flex-wrap: nowrap;
        text-align: left
    }
}

@media only screen and (min-width: 64em) {
    .Copyright-container {
        max-width: 860px
    }
}

.Copyright-container a {
    color: #fff
}

.Copyright-block {
    padding-top: 13px;
    font-size: 17px;
    flex: 1 0 20%
}

@media only screen and (min-width: 48em) {
    .Copyright-block {
        padding-top: 0;
        border-top: 0 none
    }
}

.Copyright-block:last-child {
    text-align: right
}

.MaterialTag {
    position: relative;
    z-index: 30;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 2px;
    font-weight: 700;
    line-height: 1;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    color: #b88b58;
    -moz-user-select: none
}

@media only screen and (max-width: 32em) {
    .MaterialTag {
        height: 15px;
        line-height: 15px;
        padding: 0 5px;
        font-size: 10px;
        letter-spacing: .5px
    }
}

span.MaterialTag {
    cursor: default;
    pointer-events: none
}

@media only screen and (min-width: 32em) {
    .MaterialTag--medium {
        height: 20px;
        line-height: 20px;
        padding: 0 7px;
        letter-spacing: 1px;
        font-size: 12px
    }
}

.MaterialTag--solid {
    color: #fff;
    background: #b88b58 none repeat scroll 0 0;
    border-color: #b88b58;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
}

.MaterialMeta {
    display: inline-block;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: gray;
    margin-right: 12px;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px auto;
    font-weight: 400
}

@media only screen and (min-width: 48em) {
    .MaterialMeta {
        font-size: 21px;
        line-height: 21px;
        margin-right: 15px
    }
}

.MaterialMeta--source {
    background-position-y: 5px
}

@media only screen and (min-width: 48em) {
    .MaterialMeta--source {
        white-space: nowrap
    }
}

.MaterialMeta--time {
    background-size: 12px 12px
}

.MediaMaterialHeader {
    max-width: 840px
}

.MediaMaterialHeader-first {
    color: #000;
    line-height: 27px
}

@media only screen and (min-width: 48em) {
    .MediaMaterialHeader-first {
        line-height: 38px
    }
}

.MediaMaterialHeader-first,
.MediaMaterialHeader-separator {
    transition: color .25s ease-out 0;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 700
}

@media only screen and (min-width: 48em) {

    .MediaMaterialHeader-first,
    .MediaMaterialHeader-separator {
        font-size: 36px
    }
}

.MediaMaterial {
    background-color: #fff;
    padding: 12px 15px
}

@media only screen and (min-width: 48em) {
    .MediaMaterial {
        padding: 25px 15px 20px
    }
}

.MediaMaterial-header {
    display: flex;
    flex-flow: column wrap;
    max-width: 650px;
    margin: 0 auto 20px;
    align-items: flex-start
}

@media only screen and (min-width: 63.125em) {
    .MediaMaterial-header {
        max-width: 1000px
    }
}

.MediaMaterial-tag {
    margin-bottom: 5px
}

@media only screen and (min-width: 48em) {
    .MediaMaterial-tag {
        margin-bottom: 11px
    }
}

.MediaMaterial-materialContent {
    width: 100%;
    max-width: 650px
}

.MediaMaterial-body {
    position: relative;
    max-width: 650px;
    margin: 0 auto
}

@media only screen and (min-width: 63.125em) {
    .MediaMaterial-body {
        max-width: 1000px
    }
}

@media only screen and (min-width: 48em) {
    .MediaMaterial--fullWidth .MediaMaterial-header {
        align-items: center;
        text-align: center
    }
}

.MediaMaterial--fullWidth .MediaMaterial-materialContent {
    max-width: none
}

.Material {
    padding: 12px 0 0
}

@media only screen and (min-width: 48em) {
    .Material {
        padding: 15px 0 0
    }
}

.Material-shadow {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.15)
}

.Material-shadow--top {
    top: 0
}

.Material-container {
    background: #fff none repeat scroll 0 0;
    position: relative
}

@media only screen and (min-width: 48em) {
    .Body h3 {
        font-size: 26px;
        line-height: 40px;
        margin: 15px auto
    }
}

@media only screen and (min-width: 40.625em) {
    .MaterialContent .Figure {
        margin-right: auto;
        margin-left: auto
    }
}

.Figure img {
    display: block;
    margin: 5px auto
}

@media only screen and (min-width: 48em) {
    .Figure {
        margin: 15px auto
    }
}

@media only screen and (min-width: 75em) {
    .Figure {
        max-width: 650px
    }
}

.Figure img {
    max-width: 100%;
    vertical-align: bottom
}

@media only screen and (min-width: 40.625em) {
    .Figure img {
        border-radius: 2px
    }
}

.Figure-caption {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 7px 12px 0;
    font-size: 15px;
    line-height: 17px
}

@media only screen and (min-width: 40.625em) {
    .Figure-caption {
        padding-right: 0;
        padding-left: 0;
        font-size: 16px;
        line-height: 18px
    }
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: transform .25s ease-out 0s, -webkit-transform .25s ease-out 0s, -o-transform .25s ease-out 0;
    overflow-x: hidden
}

.App-content,
.App-footer {
    transition: transform .25s ease-out 0s, -webkit-transform .25s ease-out 0s, -o-transform .25s ease-out 0
}

.App-footer {
    position: relative;
    z-index: 1
}

.App-content {
    position: relative;
    z-index: 1;
    overflow: visible;
    background-color: #f2f2f2;
    flex: 1 0 auto
}

.App-header {
    position: relative;
    z-index: 200
}

.App--isMaterial .App-content {
    background-color: #e6e6e6
}

.Footer {
    color: #999;
    background-color: #252525;
    font-family: "Proxima Nova", "Arial", "Helvetica Neue", sans-serif
}

.logo {
    display: block;
    margin-top: 0
}

.ava-img {
    width: 50px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle
}

.Body a {
    color: blue
}

.Body a:hover {
    box-shadow: none
}

a.button {
    text-align: center;
    color: #fff !important;
    background-color: red;
    display: block;
    width: 100%;
    max-width: 320px;
    border-radius: 30px;
    text-decoration: none;
    padding: 15px;
    font-family: arial;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    transition: .2s
}

a.button:hover {
    background-color: #c11f1f
}

.ouimain-text-img::after {
    content: "";
    display: block;
    clear: both
}

.lucky-chat-status__text--online::before {
    background-color: #93c296
}

.lucky-chat-status__text--offline::before {
    background-color: red
}

.lucky-chat-status__text::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 3px
}

.lucky-chat-message__text::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid
}

.lucky-chat-message__item--doctor .lucky-chat-message__name::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    top: 0;
    right: 100%;
    margin-right: -2px;
    border-color: transparent #5fc890 transparent transparent;
    border-width: 0 14px 12px 0
}

.lucky-chat-message__item--doctor .lucky-chat-message__text::after {
    display: none
}

.lucky-chat-message__item--guest .lucky-chat-message__text::after {
    top: 0;
    left: 100%;
    margin-left: -2px;
    border-color: #c8d8e8 transparent transparent;
    border-width: 14px 12px 0 0
}

.lucky-chat-message__item--system .lucky-chat-message__text::after {
    top: 0;
    right: 100%;
    margin-right: -2px;
    border-color: transparent #d47c3c transparent transparent;
    border-width: 0 14px 12px 0
}

html {
    font-family: sans-serif
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio:not([controls]) {
    display: none;
    height: 0
}

a {
    background: transparent none repeat scroll 0 0
}

a:active,
a:hover {
    outline: 0 none
}

b,
strong {
    font-weight: 700
}

h1 {
    font-size: 2em;
    margin: 20px 0
}

img {
    border: 0 none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0 none;
    padding: 0
}

input {
    line-height: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

.disign_layer {
    margin: 15px 0
}

.left_count {
    background: red none repeat scroll 0 0;
    padding: 23px;
    margin: 12px 0;
    width: 178px;
    color: #fff;
    text-shadow: 0 -1px 0 #000 0 -1px 0 #000 0 1px 0 #000 0 1px 0 #000 -1px 0 0 #000 1px 0 0 #000 -1px 0 0 #000 1px 0 0 #000 -1px -1px 0 #000 1px -1px 0 #000 -1px 1px 0 #000 1px 1px 0 #000 -1px -1px 0 #000 1px -1px 0 #000 -1px 1px 0 #000 1px 1px 0 #000
}

@media all and (max-width: 767px) {
    header .info__header {
        display: none
    }

    .mainLogo {
        margin: 20px auto
    }
}

.txt__center {
    text-align: center
}

.components-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap
}

.components-container .inline-b {
    max-width: 295px;
    width: 100%;
    margin: 10px 60px;
    vertical-align: top;
    text-align: left
}

/* .components-container .inline-b.components-container__item--2 {
    background-image: url(../images/ing2.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    background-size: contain !important
} */

.components-container .inline-b ul li {
    color: #666;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 0 0 40px;
    background: url(../images/sign1.png) no-repeat left center;
    background-size: 17px
}

.lnh {
    line-height: 20px !important;
    margin: 10px 0
}

.components-container .inline-b h3 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 20px
}

.components-container .inline-b p {
    font: normal 16px/140% Arial, sans-serif;
    padding: 24px;
    text-align: left;
    font-weight: 300;
    height: 145px
}

.components-container .inline-b p span {
    font-family: Arial, sans-serif;
    font-weight: 700
}

.block5 .zavod-container .inline-b {
    vertical-align: top;
    margin: 10px 15px
}

.components-container .inline-b {
    vertical-align: top;
    border-radius: 8px;
    border: 1px solid #d4d4d4
}

.components-container .inline-b p {
    font: normal 16px/140% SFUIDisplay-Thin, sans-serif;
    padding: 14px;
    text-align: left
}

.components-container .inline-b p span {
    font-family: SFUIDisplay-Heavy, sans-serif
}

#order_form {
    background: #fff;
    padding: 7px 25px 20px;
    max-width: 499px;
    font-family: Arial;
    margin: 20px auto;
    background-image: url(../images/formbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%
}

@media (min-width: 600px) and (max-width: 739px) {
    #order_form {
        padding: 27px !important;
        width: 100%;
        max-width: 440px;
        background-size: cover
    }
}

#order_form div {
    background: transparent !important
}

#order_form h2 {
    margin: 25px 0 0;
    padding: 0;
    line-height: 32px;
    border: none
}

#order_form label {
    width: 230px;
    display: block;
    padding: 5px 0;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

#order_form label.vertical {
    border: none !important
}

.device_info {
    font-size: 14px;
    color: green;
    display: block;
    margin: 10px 20px
}

#order_form .order_form_pole {
    padding: 5px;
    margin: 0
}

#order_form input {
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    width: 100%
}

#order_form span {
    font-size: 12px;
    line-height: 15px
}

#order_form button,
.obutton {
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    font-family: roboto condensed;
    text-transform: uppercase
}

#order_form button:hover,
.obutton:hover {
    background-color: #017ACC
}

#order_form button:active {
    position: relative;
    top: 1px
}

.order_info h2 {
    border: none !important;
    font-size: 30px;
    color: red !important;
    margin-bottom: 15px !important
}

.left_count {
    background: red;
    margin: 12px 0;
    width: 190px;
    color: #fff;
    text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000;
    font-size: 32px !important;
    border-radius: 5px
}

.left_count .prod_left_val {
    font-size: 28px !important
}

#order_form_success {
    position: relative
}

@media screen and (max-width: 480px) {
    #order_form label {
        font-size: 14px
    }

    #order_form button {
        font-size: 16px
    }

    #order_form {
        padding: 21px;
        padding-top: 30px
    }

    #order_form .order_form_pole {
        padding: 0;
        margin: 2px
    }
}

@media screen and (max-width: 459px) {
    #order_form input {
        width: 80%
    }
}

@media (max-width: 430px) {
    #order_form {
        background-size: 100% 735px
    }
}

@media (max-width: 375px) {
    #order_form {
        background-size: 100% 760px
    }
}

@media (max-width: 330px) {
    #order_form {
        background-size: 100% 785px
    }
}

@media (max-width: 315px) {
    #order_form {
        background-size: 100% 830px
    }
}

@media (max-width: 305px) {
    #order_form {
        background-size: 100% 850px
    }
}

@media screen and (max-width: 349px) {
    #order_form input {
        font-size: 17px
    }

    #order_form button {
        margin-left: 0
    }
}

@media (max-width: 1009.5px) {
    .components-container .inline-b p {
        height: auto
    }

    .components-container .inline-b.components-container__item--2 {
        margin-bottom: 0
    }
}


.red-span {
    color: red;
}

.line-trough {
    text-decoration: line-through;
}

#comment-component-text {
    margin-top: 55px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 8px;
    padding: 16px 0 0;
    border-top: 4px solid #365398;
    color: #000;
}

#comment-img-dummy {
    border-radius: 50%;
}


.footer {
    text-align: center;
}

#comment-component-text * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#comment-component-text {
    margin-top: 55px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 8px;
    padding: 16px 0 0;
    padding: 10px;
    border-top: 4px solid #365398;
    color: #000;
}

#comment-component-text #comment_num {
    border-bottom: 1px dashed #365398;
    color: #365398;
    font-weight: bold;
    width: 100%;
}

#comment-component-text .comment,
#comment-component-text .txt-cmt {
    margin: auto !important;
    width: 100%;
}

#comment-component-text .txt-cmt {
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
}

#comment-component-text .txt-cmt .form-comment__img {
    padding: 0 5px;
    width: 80px;
}

#comment-component-text img {
    max-width: 100%;
    line-height: 1;
    display: inline-block;
    width: 65px;
    border-radius: 50px;
}

#comment-component-text .form-comment__content {
    width: 100%;
    padding: 0 5px;
}

#comment-component-text .your-name,
#comment-component-text .txt-content {
    font-size: inherit;
}

#comment-component-text .your-name {
    border: 1px solid #ddd;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 0;
    border-radius: none;
}

#comment-component-text .txt-content {
    width: 100%;
    min-height: 40px;
    display: block;
    margin: 15px 0 5px 0;
    padding: 10px;
    resize: none;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#comment-component-text .add-comment-button {
    background-color: #4267b2;
    border: 1px solid #4267b2;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    padding: 0 8px;
    line-height: 22px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    width: initial;
}

.like-btn {
    height: 16px;
}

#comment-component-text .comment {
    border-top: 1px dashed #ccc;
    display: flex;
    align-items: flex-start;
    padding: 25px 0;
    margin: 0 -10px;
    white-space: normal;
}

#comment-component-text .comment:last-of-type {
    border-bottom: 1px dashed #ccc;
}

#comment-component-text .comment__content {
    padding: 0 10px;
    width: 100%;
}

#comment-component-text .comment__content .comment__name {
    margin-top: 0;
    color: #365398;
    font-size: 18px;
    text-align: left;
    text-align-last: left;
    font-weight: 700;
    white-space: nowrap;
}

#comment-component-text .comment .comment__text {
    margin: 10px 0 7px 0;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
}

#comment-component-text .comment__details {
    font-size: 12px;
    color: #365398;
    line-height: 2;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 16px;
}

#comment-component-text .comment__details a,
#comment-component-text .comment__details span {
    text-decoration: none;
    color: #365398;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    cursor: pointer;
}

#comment-component-text .comment__details img {
    border-radius: 0;
}

#comment-component-text .comment__details img {
    width: 16px;
    position: relative;
    top: 2px;
}

#comment-component-text .comment .comment__text img {
    display: block;
    width: 300px;
    margin: 8px 0 0;
    border-radius: 0 !important;
    cursor: pointer;
}

#comment-component-text .form-comment {
    font-size: 20px;
    width: 100%;
}

#comment-component-text .comment__details button {
    background: transparent;
    border: none;
    color: #365398;
    cursor: pointer;
}

#comment-component-text .events-stop {
    pointer-events: none;
}

#comment-component-text .make-comment {
    display: inline-block;
    white-space: nowrap;
}

#comment-component-text .comment__details button::after,
#comment-component-text .comment__details .make-comment::after {
    content: '‧';
    display: inline-block;
    width: 13px;
    text-align: center;
}

#comment-component-text .comment__time {
    white-space: nowrap;
}

#comment-component-text .comment__time:hover {
    cursor: default;
}

.comment__img {
    cursor: pointer;
}

#comment-img-dummy {
    border-radius: 50%;
}

@media screen and (max-width: 500px) {
    .comment {
        position: relative;
        right: 5px;
    }

    #comment-img-dummy {
        line-height: 1;
        display: inline-block;
        max-width: initial !important;
    }
}

#scroll-new-comment {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#scroll-new-comment.comment-appear {
    opacity: 1;
    transform: translateY(0);
}

.comment-write {
    transition: all 0.3s ease;
    max-height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.comment-write img {
    margin-right: 20px;
}

.comments__kma {
    overflow: hidden;
}

.loading {
    font-style: italic;
    color: #000;
}

.loading img {
    display: inline;
    width: 60px !important;
}

.loading:after {
    content: '.';
    animation: loading 1s ease alternate infinite;
}

@keyframes loading {
    60% {
        text-shadow: 0.35em 0 0 currentColor;
    }
    100% {
        text-shadow: 0.35em 0 0 currentColor, 0.75em 0 0 currentColor;
    }
}

@keyframes race {
    0% {
        transform: skew(0, -3deg);
    }
    25% {
        transform: skew(0, 3deg);
    }
    50% {
        transform: skew(0, -3deg);
    }
    75% {
        transform: skew(0, 3deg);
    }
    100% {
        transform: skew(0);
    }
}


.button-wrapper-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    max-width: 250px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: red;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.5s;
    animation: pulse 3s infinite;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
}
